data/Homo_sapiens.GRCh38.115.chr.gtf
data/Homo_sapiens.GRCh38.cdna.all.fa
data/Homo_sapiens.GRCh38.cds.all.fa
data/Mus_musculus.GRCm39.115.chr.gtf
data/Mus_musculus.GRCm39.cdna.all.fa
data/Mus_musculus.GRCm39.cds.all.fa
data/Rattus_norvegicus.GRCr8.115.gtf
data/Rattus_norvegicus.GRCr8.cdna.all.fa
data/Rattus_norvegicus.GRCr8.cds.all.fa
out_dir/01_ids/human_all_ids_nuclear.txt
out_dir/02_split_fasta/human_nuclear_cdna.fa
out_dir/02_split_fasta/human_nuclear_cds.fa
out_dir/03_unit/holdout/human_nuclear_1nt_holdout.tsv
out_dir/03_unit/holdout/human_nuclear_2nt_holdout.tsv
out_dir/03_unit/holdout/human_nuclear_3nt_holdout.tsv
out_dir/03_unit/holdout/human_nuclear_3nt_orf_holdout.tsv
out_dir/03_unit/holdout/human_nuclear_aa_holdout.tsv
out_dir/03_unit/train/human_nuclear_1nt_train.tsv
out_dir/03_unit/train/human_nuclear_2nt_train.tsv
out_dir/03_unit/train/human_nuclear_3nt_orf_train.tsv
out_dir/03_unit/train/human_nuclear_3nt_train.tsv
out_dir/03_unit/train/human_nuclear_aa_train.tsv
out/hs_nuclear_aa.tsv
out/hs_nuclear_cdna.fa
out/hs_nuclear_cds.fa
out/hs_nuclear_codons.tsv
out/hs_nuclear_nt_1.tsv
out/hs_nuclear_nt_2.tsv
out/hs_nuclear_nt_3.tsv
out/mm_nuclear_aa.tsv
out/mm_nuclear_cdna.fa
out/mm_nuclear_cds.fa
out/mm_nuclear_codons.tsv
out/mm_nuclear_nt_1.tsv
out/mm_nuclear_nt_2.tsv
out/mm_nuclear_nt_3.tsv
out/rn_nuclear_aa.tsv
out/rn_nuclear_cdna.fa
out/rn_nuclear_cds.fa
out/rn_nuclear_codons.tsv
out/rn_nuclear_nt_1.tsv
out/rn_nuclear_nt_2.tsv
out/rn_nuclear_nt_3.tsv
